.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    color: #24292e;
    font-weight: 600;
}

.menu {
    margin: 20px;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar a {
    margin: 5px;
    text-decoration: none;
    color: #24292e;
    cursor: pointer;
}

.spacer {
    flex: 1;
}